/* reset */
*{margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box;}
html{height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%;}
body{margin:0; padding:0; width: 100%; height: 100%; font-family: Helvetica, Arial, sans-serif; font-size: 14px;position: relative; word-break:break-all;}
a{text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);}
table{border-collapse: collapse; border-spacing: 0;}
th, td, caption{vertical-align: middle;}
textarea{resize: none;}
input, button, select, textarea{outline: none; border-radius: 0; font-family: inherit; font-size: inherit;}
ul,ol,li{list-style: none;}
img {border: 0;}
.clearfix:after {
    display: block;
    clear: both;
    content: 'xxx';
    overflow: hidden;
    height: 0;
    line-height: 0;
}
.clearfix {
    zoom:1;
    *height: 1%;
}
.clear {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    line-height: 0;
}

.w1001{
    width: 1001px;
    margin: 0 auto;
}
/* home */
.recruit-header {
    height: 60px;
    position: relative;
}
.recruit-logo {
    position: absolute;
    left: 0;
    top: 5px;
}
.recruit-logo-others {
    position: absolute;
    right: 5px;
    top: 5px;
}
.recruit-link-container {
    position: relative;
    overflow: hidden;
}
.recruit-bg {
    position: relative;
}
.recruit-bg img {
    width: 100%;
}
.recruit-link {
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
    display: block;
    position: absolute;
    overflow: hidden;
}
.recruit-link:hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
.recruit-link-apply {
    position: absolute;
    width: 128px;
    height: 128px;
    /*background: url(../images/process-apply.png) no-repeat 0 0 ;*/
    left: 100px;
    top:80px;
}
.recruit-link-qa {
    position: absolute;
    width: 97px;
    height: 97px;
    /*background: url(../images/process-qa.png) no-repeat 0 0;*/
    left: 185px;
    top: 450px;

}
.recruit-link-intro {
    position: absolute;
    width: 111px;
    height: 111px;/*
    background: url(../images/process-intro.png) no-repeat 0 0;*/
    left: 73px;
    top: 282px;
}
.recruit-link-speak {
    position: absolute;
    width: 128px;
    height: 128px;
    /*background: url(../images/process-speak.png) no-repeat 0 0;*/
    right: 85px;
    top: 94px;
}
.recruit-link-company {
    position: absolute;
    width: 111px;
    height: 111px;
    /*background: url(../images/process-company.png) no-repeat 0 0;*/
    right: 57px;
    top: 390px;
}
.slogan1 {
    position: absolute;
    left: 230px;
    top: 100px;
    opacity: 0;
    filter:alpha(opacity=0);
}
.slogan2{
    position: absolute;
    right: 246px;
    top:270px; 
    opacity: 0;
    filter:alpha(opacity=0);
}

/* process */
.process-wrapper {
    position: relative;
    width: 1001px;
    height: 729px;
    background: url(../images/process.jpg) no-repeat 0 0;
}
.banner {
    width: 1001px;
    margin: 0 auto;
    height: 196px;
    /*border: 1px solid #000;*/
    position: relative;
    overflow: hidden;
    background: url(../images/banner.jpg) no-repeat 0 0;
}
.header {
    height: 197px;
    /*border: 1px solid #000;*/
    position: relative;
    overflow: hidden;
}
.nav{
    position: absolute;
    bottom: -1px;
    left: 20px;
}
.nav-item {
    position: relative;
    width: 110px;
    height: 35px;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    background:url(../images/nav-item.png) no-repeat 0 0;
    text-align: center;
    vertical-align: middle;
}
.nav-item span {
    line-height: 35px;
}
.nav-item span,.nav-item i{
    display: inline-block;
    vertical-align: middle;
}
.nav-item:hover span, a.nav-item-active span{
    color: red;
    /*top: -20px;
    color: red;*/
}

.apply-wrapper {
    position: relative;
    
}

.apply-content {
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 60px;
    background: #ddd url(../images/apply.jpg) no-repeat 0 center ;
}
.apply-bottom {
    position: relative;
    z-index: 2;
    height: 20px;
    background: #000;
}
.apply-sidebar {
    float: left;
    margin-left: 40px;
    width: 200px;
    min-height: 100px;

}
.apply-sidebar-headline {
    height: 35px;
    line-height: 35px;
    color: #FFF;
    font-size: 16px;
    text-indent: 15px;
    border-radius: 7px 7px  0 0;
    background: #ce1610;
}
.apply-office-list {
    border: 1px solid #000;
    border-radius: 0 0 7px 7px;
    padding-bottom: 35px;
    padding-top: 18px;
    background: #fff;
    border-top:none;
}
.apply-office-item {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    height: 40px;
    line-height: 40px;
    text-indent: 30px;
    background: url(../images/arrow.png) no-repeat 7px center;
}
.apply-office-list .apply-office-last {
    border-bottom:none !important; 
}
.apply-office-item a {
    color: #000;
}
.apply-office-item a:hover ,li.apply-office-active a {
    color: #ce1610;
}
.apply-data-wrapper {
    width: 690px;
    float: right;
    margin-right: 50px;
    border: 1px solid #000;
    border-radius: 7px;
}
.apply-table {
    width: 100%;
    margin:0 auto;
    padding-bottom: 30px;
}
.apply-table .office-col {
    display: inline-block;
    vertical-align: top;
}
.apply-table-headline {
    background: #e8e8e8;
    border-radius: 7px 7px 0 0;
    border-bottom:1px solid #000; 
    height: 40px;
    overflow: hidden;
}
.apply-table-headline .office-col {
    line-height: 40px;
    font-weight: bold;
    word-break: break-all;
    word-wrap:break-word;
    float: left;
}
.apply-table-data .office-col {
    display: inline-block;
    float: left;
    padding: 12px 0;
}
.apply-table-data{
    
    border-bottom:1px solid #ddd; 
}
.apply-table-data .office-name-col,.apply-table-headline .office-name-col{
    padding-left: 20px;
}
.office-name-col {
    width: 20%;

}
.office-place-col {
    width: 12%;
}
.office-company-col {
    width: 38%;
}
.office-number-col {
    width: 12%;
    text-align: center;
}
.office-time-col {
    width: 14%;
}
a.apply-office-name {
    color: #ce1610;
    text-decoration: underline;
}
.apply-pagination {
    text-align: center;
    padding:30px;
}
.apply-pagination a ,.apply-pagination span{
    color: #616161;
}
.apply-pagination a:hover {
    color: #ce1610;
}
/* apply detail*/
.apply-data-headline {
    background: #e8e8e8;
    border-radius: 7px 7px 0 0;
    border-bottom:1px solid #000; 
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #000;
    text-indent: 30px;
}
.apply-office-data {
    padding: 20px;
}
.apply-info-office {
    padding-bottom: 20px;
}
.apply-info-office a {
    font-weight: bold;
}
.apply-info-row {
    margin:7px 0;
}
.apply-info-item {
    display: inline-block;

}
.apply-info-item1{
    width: 450px;
}

.apply-btn-row {
    padding: 10px 0;
}
.apply-btn {
    display: block;
    text-indent: -99999px;
    width: 85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #FFF;
    background: url(../images/apply-btn.png) no-repeat 0 0;
    cursor: pointer;
}
.apply-detail-headline {
    margin: 0 auto;
    width: 95%;
    background: #eee;
    height: 30px;
    line-height: 30px;
    text-indent: 20px;
    color: #000;
    font-weight: bold;


}
.apply-detail-content {
    padding: 30px 25px;
}
.apply-detail-content p {
    margin: 7px 0;
}
